/* all */
html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

body {
    margin: 0;
}

h2 {
    font-size: 2vw;
    font-weight: normal;
    text-align: center;
    margin: 0 0 3px 0;
}

p {
    margin: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 50vh;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 50vw;
}

/* FavoriteDriver.js */

.driver-button {
    height: 23vh;
    width: 48vw;
    border-radius: 25px;
    font-size: 3vw;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 1vh 1vw 1vh 1vw;
    text-align: center;
    background-color: black;
    color: white;
    font-family: inherit;
}

/* UpcomingRaces.js */

.upcomming-races {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 23vh;
    width: 48vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 1vh 1vw 1vh 1vw;
    font-size: 1.5vw;
    text-align: center;
    color: white;
}

/* DriversChampionship.js */

.driver-standings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48vh;
    width: 48vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 1vh 1vw 1vh 1vw;
    text-align: left;
    font-size: 1vh;
    color: white;
}

/* ConstructorsChampionship */

.constructor-standings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48vh;
    width: 48vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 1vh 1vw 1vh 1vw;
    text-align: left;
    font-size: 2vh;
    color: white;
}

/* QualifyingResults.js */

.qualifying-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 23vh;
    width: 48vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 1vh 1vw 1vh 1vw;
    font-size: 3vw;
    text-align: center;
    padding: 0;
    background-color: black;
    color: white;
    font-family: inherit;
}

/* RaceResults.js */
.race-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 23vh;
    width: 48vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 1vh 1vw 1vh 1vw;
    font-size: 3vw;
    text-align: center;
    padding: 0;
    background-color: black;
    color: white;
    font-family: inherit;
}

/* CSS for the popup container */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
  
/* CSS for the close button */
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}
  
/* CSS for the popup content */
.popup-content {
    padding: 20px;
}
  
/* Additional styles for the table */
.popup-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
  
.popup-content table th,
.popup-content table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
