/* all */
html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(./images/f1-bgv-1.jpeg);
    background-size: cover;
}

body {
    margin: 5px;
}

h2 {
    font-size: 3vw;
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0 0 3px 0;
    color: crimson;
    letter-spacing: 2px;
}

p {
    margin: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    height: 50vh;
    margin-left: 0;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 50%;
}

/* FavoriteDriver.js */

.driver-button {
    height: 20vh;
    width: 46.5vw;
    border-radius: 25px;
    font-size: 6vw;
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    text-align: center;
    background-color: rgb(0, 0, 0, .8);
    color: crimson;
    font-family: inherit;
    white-space: normal;
    margin: 0;
}

/* UpcomingRaces.js */

.upcomming-races {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 46vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    background-color: rgb(0, 0, 0, .8);
    font-size: 1.5vh;
    font-family: monospace;
    text-align: center;
    color: ivory;
    margin: 0;

}

/* DriversChampionship.js */

.driver-standings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48vh;
    width: 54vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    background-color: rgb(0, 0, 0, .8);
    text-align: left;
    font-size: 10px;
    font-family: monospace;
    color: ivory;
    line-height: .9;
}

/* ConstructorsChampionship */

.constructor-standings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48vh;
    width: 48vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    background-color: rgb(0, 0, 0, .8);
    text-align: left;
    font-size: 1.5vh;
    font-family: monospace;
    color: ivory;
}

/* QualifyingResults.js */

.qualifying-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 40vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    font-size: 5vh;
    text-align: center;
    padding: 0;
    background-color: rgb(0, 0, 0, .8);
    color: crimson;
    font-family: inherit;
    margin: 0 0 0 8vw;
}

/* RaceResults.js */
.race-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 40vw;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    font-size: 5vh;
    text-align: center;
    padding: 0;
    background-color: rgb(0, 0, 0, .8);
    color: crimson;
    font-family: inherit;
    margin: 0 0 0 8vw;
}

/* CSS for the popup container */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75vh;
    z-index: 1000;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    text-align: left;
    font-size: 1.5vh;
    color: white;
    background-color: black;
    padding: 15px;
    font-family: monospace;
}
  
/* CSS for the close button */
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
  
/* Additional styles for the table */
.popup-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
  
.popup-content table th,
.popup-content table td {
    padding: 3px;
    border: 1px solid #ddd;
    text-align: left;
}
